<?xml version="1.0"?>
<robot name="random_bottle">

  <!-- Define the cap link -->
  <link name="link1">
    <visual>
      <geometry>
        <mesh filename="cap.obj" scale="1.0 1.0 1.0"/>
      </geometry>
       <material name="white">
        <color rgba=".9 .9 .9 1"/>
      </material>

    </visual>
    <collision>
      <geometry>
        <mesh filename="cap.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="0.01803245741851993"/> <!-- You can adjust the mass as needed -->
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="5.8729272347525e-06" ixy="0.0" ixz="0.0" iyy="5.8729272347525e-06" iyz="0.0" izz="1.0275281771979925e-05"/>
    </inertial>
  </link>

    <link name="l10">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>

      <material name="red">
        <color rgba="0.9 0.0 0.0 1"/>
      </material>

    </visual>

    <inertial>
      <mass value="0.0001"/> <!-- You can adjust the mass as needed -->
      <origin rpy="0 0 0" xyz="0 0 -0.00"/> <!-- Offset by half of link1's height + 0.03m for the margin -->
      <inertia ixx="0.000000003" ixy="0.0" ixz="0.0" iyy="0.0000003" iyz="0.0" izz="0.00000003"/>
    </inertial>

  </link>
  <link name="l11">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>

      <material name="red">
        <color rgba="0.9 0.0 0.0 1"/>
      </material>

    </visual>

    <inertial>
      <mass value="0.0001"/> <!-- You can adjust the mass as needed -->
      <origin rpy="0 0 0" xyz="0 0 -0.00"/> <!-- Offset by half of link1's height + 0.03m for the margin -->
      <inertia ixx="0.000000003" ixy="0.0" ixz="0.0" iyy="0.0000003" iyz="0.0" izz="0.00000003"/>
    </inertial>

  </link>
  <link name="l12">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>

      <material name="red">
        <color rgba="0.9 0.0 0.0 1"/>
      </material>

    </visual>

    <inertial>
      <mass value="0.0001"/> <!-- You can adjust the mass as needed -->
      <origin rpy="0 0 0" xyz="0 0 -0.00"/> <!-- Offset by half of link1's height + 0.03m for the margin -->
      <inertia ixx="0.000000003" ixy="0.0" ixz="0.0" iyy="0.0000003" iyz="0.0" izz="0.00000003"/>
    </inertial>

  </link>
  <link name="l13">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>

      <material name="red">
        <color rgba="0.9 0.0 0.0 1"/>
      </material>

    </visual>

    <inertial>
      <mass value="0.0001"/> <!-- You can adjust the mass as needed -->
      <origin rpy="0 0 0" xyz="0 0 -0.00"/> <!-- Offset by half of link1's height + 0.03m for the margin -->
      <inertia ixx="0.000000003" ixy="0.0" ixz="0.0" iyy="0.0000003" iyz="0.0" izz="0.00000003"/>
    </inertial>

  </link>
  <link name="l10b">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>

      <material name="red">
        <color rgba="0.9 0.0 0.0 1"/>
      </material>

    </visual>

    <inertial>
      <mass value="0.0001"/> <!-- You can adjust the mass as needed -->
      <origin rpy="0 0 0" xyz="0 0 -0.00"/> <!-- Offset by half of link1's height + 0.03m for the margin -->
      <inertia ixx="0.000000003" ixy="0.0" ixz="0.0" iyy="0.0000003" iyz="0.0" izz="0.00000003"/>
    </inertial>

  </link>
  <link name="l11b">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>

      <material name="red">
        <color rgba="0.9 0.0 0.0 1"/>
      </material>

    </visual>

    <inertial>
      <mass value="0.0001"/> <!-- You can adjust the mass as needed -->
      <origin rpy="0 0 0" xyz="0 0 -0.00"/> <!-- Offset by half of link1's height + 0.03m for the margin -->
      <inertia ixx="0.000000003" ixy="0.0" ixz="0.0" iyy="0.0000003" iyz="0.0" izz="0.00000003"/>
    </inertial>

  </link>
  <link name="l12b">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>

      <material name="red">
        <color rgba="0.9 0.0 0.0 1"/>
      </material>

    </visual>

    <inertial>
      <mass value="0.0001"/> <!-- You can adjust the mass as needed -->
      <origin rpy="0 0 0" xyz="0 0 -0.00"/> <!-- Offset by half of link1's height + 0.03m for the margin -->
      <inertia ixx="0.000000003" ixy="0.0" ixz="0.0" iyy="0.0000003" iyz="0.0" izz="0.00000003"/>
    </inertial>

  </link>
  <link name="l13b">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>

      <material name="red">
        <color rgba="0.9 0.0 0.0 1"/>
      </material>

    </visual>

    <inertial>
      <mass value="0.0001"/> <!-- You can adjust the mass as needed -->
      <origin rpy="0 0 0" xyz="0 0 -0.00"/> <!-- Offset by half of link1's height + 0.03m for the margin -->
      <inertia ixx="0.000000003" ixy="0.0" ixz="0.0" iyy="0.0000003" iyz="0.0" izz="0.00000003"/>
    </inertial>

  </link>
  <link name="l20">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>

      <material name="red">
        <color rgba="0.0 0.9 0.0 1"/>
      </material>

    </visual>

    <inertial>
      <mass value="0.0001"/> <!-- You can adjust the mass as needed -->
      <origin rpy="0 0 0" xyz="0 0 -0.00"/> <!-- Offset by half of link1's height + 0.03m for the margin -->
      <inertia ixx="0.000000003" ixy="0.0" ixz="0.0" iyy="0.0000003" iyz="0.0" izz="0.00000003"/>
    </inertial>

  </link>
  <link name="l21">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>

      <material name="red">
        <color rgba="0.0 0.9 0.0 1"/>
      </material>

    </visual>

    <inertial>
      <mass value="0.0001"/> <!-- You can adjust the mass as needed -->
      <origin rpy="0 0 0" xyz="0 0 -0.00"/> <!-- Offset by half of link1's height + 0.03m for the margin -->
      <inertia ixx="0.000000003" ixy="0.0" ixz="0.0" iyy="0.0000003" iyz="0.0" izz="0.00000003"/>
    </inertial>

  </link>
  <link name="l22">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>

      <material name="red">
        <color rgba="0.0 0.9 0.0 1"/>
      </material>

    </visual>

    <inertial>
      <mass value="0.0001"/> <!-- You can adjust the mass as needed -->
      <origin rpy="0 0 0" xyz="0 0 -0.00"/> <!-- Offset by half of link1's height + 0.03m for the margin -->
      <inertia ixx="0.000000003" ixy="0.0" ixz="0.0" iyy="0.0000003" iyz="0.0" izz="0.00000003"/>
    </inertial>

  </link>
  <link name="l23">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>

      <material name="red">
        <color rgba="0.0 0.9 0.0 1"/>
      </material>

    </visual>

    <inertial>
      <mass value="0.0001"/> <!-- You can adjust the mass as needed -->
      <origin rpy="0 0 0" xyz="0 0 -0.00"/> <!-- Offset by half of link1's height + 0.03m for the margin -->
      <inertia ixx="0.000000003" ixy="0.0" ixz="0.0" iyy="0.0000003" iyz="0.0" izz="0.00000003"/>
    </inertial>

  </link>
  <link name="l24">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>

      <material name="red">
        <color rgba="0.0 0.9 0.0 1"/>
      </material>

    </visual>

    <inertial>
      <mass value="0.0001"/> <!-- You can adjust the mass as needed -->
      <origin rpy="0 0 0" xyz="0 0 -0.00"/> <!-- Offset by half of link1's height + 0.03m for the margin -->
      <inertia ixx="0.000000003" ixy="0.0" ixz="0.0" iyy="0.0000003" iyz="0.0" izz="0.00000003"/>
    </inertial>

  </link>
  <link name="l25">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>

      <material name="red">
        <color rgba="0.0 0.9 0.0 1"/>
      </material>

    </visual>

    <inertial>
      <mass value="0.0001"/> <!-- You can adjust the mass as needed -->
      <origin rpy="0 0 0" xyz="0 0 -0.00"/> <!-- Offset by half of link1's height + 0.03m for the margin -->
      <inertia ixx="0.000000003" ixy="0.0" ixz="0.0" iyy="0.0000003" iyz="0.0" izz="0.00000003"/>
    </inertial>

  </link>
  <link name="l26">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>

      <material name="red">
        <color rgba="0.0 0.9 0.0 1"/>
      </material>

    </visual>

    <inertial>
      <mass value="0.0001"/> <!-- You can adjust the mass as needed -->
      <origin rpy="0 0 0" xyz="0 0 -0.00"/> <!-- Offset by half of link1's height + 0.03m for the margin -->
      <inertia ixx="0.000000003" ixy="0.0" ixz="0.0" iyy="0.0000003" iyz="0.0" izz="0.00000003"/>
    </inertial>

  </link>
  <link name="l27">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>

      <material name="red">
        <color rgba="0.0 0.9 0.0 1"/>
      </material>

    </visual>

    <inertial>
      <mass value="0.0001"/> <!-- You can adjust the mass as needed -->
      <origin rpy="0 0 0" xyz="0 0 -0.00"/> <!-- Offset by half of link1's height + 0.03m for the margin -->
      <inertia ixx="0.000000003" ixy="0.0" ixz="0.0" iyy="0.0000003" iyz="0.0" izz="0.00000003"/>
    </inertial>

  </link>
  <link name="l30">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>

      <material name="red">
        <color rgba="0.0 0.9 0.0 1"/>
      </material>

    </visual>

    <inertial>
      <mass value="0.0001"/> <!-- You can adjust the mass as needed -->
      <origin rpy="0 0 0" xyz="0 0 -0.00"/> <!-- Offset by half of link1's height + 0.03m for the margin -->
      <inertia ixx="0.000000003" ixy="0.0" ixz="0.0" iyy="0.0000003" iyz="0.0" izz="0.00000003"/>
    </inertial>

  </link>
  <link name="l31">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>

      <material name="red">
        <color rgba="0.0 0.9 0.0 1"/>
      </material>

    </visual>

    <inertial>
      <mass value="0.0001"/> <!-- You can adjust the mass as needed -->
      <origin rpy="0 0 0" xyz="0 0 -0.00"/> <!-- Offset by half of link1's height + 0.03m for the margin -->
      <inertia ixx="0.000000003" ixy="0.0" ixz="0.0" iyy="0.0000003" iyz="0.0" izz="0.00000003"/>
    </inertial>

  </link>
  <link name="l32">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>

      <material name="red">
        <color rgba="0.0 0.9 0.0 1"/>
      </material>

    </visual>

    <inertial>
      <mass value="0.0001"/> <!-- You can adjust the mass as needed -->
      <origin rpy="0 0 0" xyz="0 0 -0.00"/> <!-- Offset by half of link1's height + 0.03m for the margin -->
      <inertia ixx="0.000000003" ixy="0.0" ixz="0.0" iyy="0.0000003" iyz="0.0" izz="0.00000003"/>
    </inertial>

  </link>
  <link name="l33">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>

      <material name="red">
        <color rgba="0.0 0.9 0.0 1"/>
      </material>

    </visual>

    <inertial>
      <mass value="0.0001"/> <!-- You can adjust the mass as needed -->
      <origin rpy="0 0 0" xyz="0 0 -0.00"/> <!-- Offset by half of link1's height + 0.03m for the margin -->
      <inertia ixx="0.000000003" ixy="0.0" ixz="0.0" iyy="0.0000003" iyz="0.0" izz="0.00000003"/>
    </inertial>

  </link>
  <link name="l34">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>

      <material name="red">
        <color rgba="0.0 0.9 0.0 1"/>
      </material>

    </visual>

    <inertial>
      <mass value="0.0001"/> <!-- You can adjust the mass as needed -->
      <origin rpy="0 0 0" xyz="0 0 -0.00"/> <!-- Offset by half of link1's height + 0.03m for the margin -->
      <inertia ixx="0.000000003" ixy="0.0" ixz="0.0" iyy="0.0000003" iyz="0.0" izz="0.00000003"/>
    </inertial>

  </link>
  <link name="l35">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>

      <material name="red">
        <color rgba="0.0 0.9 0.0 1"/>
      </material>

    </visual>

    <inertial>
      <mass value="0.0001"/> <!-- You can adjust the mass as needed -->
      <origin rpy="0 0 0" xyz="0 0 -0.00"/> <!-- Offset by half of link1's height + 0.03m for the margin -->
      <inertia ixx="0.000000003" ixy="0.0" ixz="0.0" iyy="0.0000003" iyz="0.0" izz="0.00000003"/>
    </inertial>

  </link>
  <link name="l36">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>

      <material name="red">
        <color rgba="0.0 0.9 0.0 1"/>
      </material>

    </visual>

    <inertial>
      <mass value="0.0001"/> <!-- You can adjust the mass as needed -->
      <origin rpy="0 0 0" xyz="0 0 -0.00"/> <!-- Offset by half of link1's height + 0.03m for the margin -->
      <inertia ixx="0.000000003" ixy="0.0" ixz="0.0" iyy="0.0000003" iyz="0.0" izz="0.00000003"/>
    </inertial>

  </link>
  <link name="l37">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>

      <material name="red">
        <color rgba="0.0 0.9 0.0 1"/>
      </material>

    </visual>

    <inertial>
      <mass value="0.0001"/> <!-- You can adjust the mass as needed -->
      <origin rpy="0 0 0" xyz="0 0 -0.00"/> <!-- Offset by half of link1's height + 0.03m for the margin -->
      <inertia ixx="0.000000003" ixy="0.0" ixz="0.0" iyy="0.0000003" iyz="0.0" izz="0.00000003"/>
    </inertial>

  </link>


  <link name="hint">
    <visual>
      <geometry>
        <box size="0.005 0.005 0.07"/> <!-- 9cm x 9cm x 6cm -->
      </geometry>
       <material name="blue">
        <color rgba=".0 .0 .9 1"/>
      </material>
    </visual>

    <inertial>
      <mass value="0.0001"/> <!-- You can adjust the mass as needed -->
      <origin rpy="0 0 0" xyz="0 0 -0.00"/> <!-- Offset by half of link1's height + 0.03m for the margin -->
      <inertia ixx="0.000000003" ixy="0.0" ixz="0.0" iyy="0.0000003" iyz="0.0" izz="0.00000003"/>
    </inertial>


  </link>

  <!-- Define the base link -->
  <link name="link2">
    <visual>
      <geometry>
        <mesh filename="base.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="red">
        <color rgba=".9 .3 .3 1"/>
      </material>

    </visual>

    <collision>
      <geometry>
        <mesh filename="base.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="0.0550116751493294"/> <!-- You can adjust the mass as needed -->
      <origin rpy="0 0 0" xyz="0 0 -0.00"/> <!-- Offset by half of link1's height + 0.03m for the margin -->
      <inertia ixx="3.99395563500735e-05" ixy="0.0" ixz="0.0" iyy="3.99395563500735e-05" iyz="0.0" izz="4.666342617185824e-05"/>
    </inertial>
  </link>



  <link name="brake">
   <visual>
      <geometry>
        <box size="0.02 0.02 0.005"/> <!-- 6cm x 6cm x 2cm -->
      </geometry>
       <material name="gray">
        <color rgba=".5 .5 .5 1"/>
      </material>

    </visual>
    <collision>
      <geometry>
        <box size="0.02 0.02 0.005"/> <!-- 6cm x 6cm x 2cm -->
      </geometry>
    </collision>

    <inertial>
      <mass value="0.005"/> <!-- You can adjust the mass as needed -->
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.00018" ixy="0.0" ixz="0.0" iyy="0.00018" iyz="0.0" izz="0.00018"/>
    </inertial>
  </link>

  <!-- Define the joint connecting link1 and link2 as a revolute joint along z-axis -->
  <joint name="fix_joint" type="fixed">
    <parent link="link1"/>
    <child link="hint"/>
    <origin rpy="0 0 0" xyz="0 0.01 0.03"/> <!-- Offset by half of link1's height for the margin -->
    <axis xyz="0 0 1"/>
  </joint>

  <!-- Define the joint connecting link1 and link2 as a revolute joint along z-axis -->
  <joint name="brake_joint" type="prismatic">
    <parent link="link2"/>
    <child link="brake"/>
    <origin rpy="0 0 0" xyz="0 0 0.052215006232392835"/> <!-- Offset by half of link1's height for the margin -->
    <axis xyz="0 0 1"/>
    <limit lower="-0.02" upper="0.02" />
    <!-- <dynamics damping="0.0" friction="0.0"/> -->
  </joint>


  <joint name="b_joint" type="revolute">
    <parent link="link2"/>
    <child link="link1"/>
    <origin rpy="0 0 0" xyz="0 0 0.045094685645391604"/> <!-- Offset by half of link1's height for the margin -->
    <axis xyz="0 0 1"/>
    <!-- No joint limits -->
    <dynamics damping="0.0" friction="0.0"/>
  </joint>


  <!-- marker -->
    <joint name="jl10" type="fixed">
    <parent link="link1"/>
    <child link="l10"/>
    <origin rpy="0 0 0" xyz="0.0 0.03375859863693336 0.006636096176100371"/> <!-- Offset by half of link1's height for the margin -->
    <axis xyz="0 0 1"/>
  </joint>
  <joint name="jl11" type="fixed">
    <parent link="link1"/>
    <child link="l11"/>
    <origin rpy="0 0 0" xyz="0.023870933699720914 0.02387093433934012 0.006636096176100371"/> <!-- Offset by half of link1's height for the margin -->
    <axis xyz="0 0 1"/>
  </joint>
  <joint name="jl12" type="fixed">
    <parent link="link1"/>
    <child link="l12"/>
    <origin rpy="0 0 0" xyz="0.03375859863693335 9.045581593321179e-10 0.006636096176100371"/> <!-- Offset by half of link1's height for the margin -->
    <axis xyz="0 0 1"/>
  </joint>
  <joint name="jl13" type="fixed">
    <parent link="link1"/>
    <child link="l13"/>
    <origin rpy="0 0 0" xyz="0.023870934978959306 -0.02387093306010169 0.006636096176100371"/> <!-- Offset by half of link1's height for the margin -->
    <axis xyz="0 0 1"/>
  </joint>
  <joint name="jl10b" type="fixed">
    <parent link="link1"/>
    <child link="l10b"/>
    <origin rpy="0 0 0" xyz="1.8091163186642352e-09 -0.03375859863693331 0.006636096176100371"/> <!-- Offset by half of link1's height for the margin -->
    <axis xyz="0 0 1"/>
  </joint>
  <joint name="jl11b" type="fixed">
    <parent link="link1"/>
    <child link="l11b"/>
    <origin rpy="0 0 0" xyz="-0.02387093242048244 -0.023870935618578493 0.006636096176100371"/> <!-- Offset by half of link1's height for the margin -->
    <axis xyz="0 0 1"/>
  </joint>
  <joint name="jl12b" type="fixed">
    <parent link="link1"/>
    <child link="l12b"/>
    <origin rpy="0 0 0" xyz="-0.03375859863693325 -2.713674463004522e-09 0.006636096176100371"/> <!-- Offset by half of link1's height for the margin -->
    <axis xyz="0 0 1"/>
  </joint>
  <joint name="jl13b" type="fixed">
    <parent link="link1"/>
    <child link="l13b"/>
    <origin rpy="0 0 0" xyz="-0.02387093625819764 0.02387093178086319 0.006636096176100371"/> <!-- Offset by half of link1's height for the margin -->
    <axis xyz="0 0 1"/>
  </joint>
  <joint name="jl20" type="fixed">
    <parent link="link2"/>
    <child link="l20"/>
    <origin rpy="0 0 0" xyz="0.0 0.0411884903493788 0.018056811387234962"/> <!-- Offset by half of link1's height for the margin -->
    <axis xyz="0 0 1"/>
  </joint>
  <joint name="jl21" type="fixed">
    <parent link="link2"/>
    <child link="l21"/>
    <origin rpy="0 0 0" xyz="0.02912466044268628 0.029124661223078552 0.018056811387234962"/> <!-- Offset by half of link1's height for the margin -->
    <axis xyz="0 0 1"/>
  </joint>
  <joint name="jl22" type="fixed">
    <parent link="link2"/>
    <child link="l22"/>
    <origin rpy="0 0 0" xyz="0.041188490349378784 1.1036413394050548e-09 0.018056811387234962"/> <!-- Offset by half of link1's height for the margin -->
    <axis xyz="0 0 1"/>
  </joint>
  <joint name="jl23" type="fixed">
    <parent link="link2"/>
    <child link="l23"/>
    <origin rpy="0 0 0" xyz="0.0291246620034708 -0.029124659662293988 0.018056811387234962"/> <!-- Offset by half of link1's height for the margin -->
    <axis xyz="0 0 1"/>
  </joint>
  <joint name="jl24" type="fixed">
    <parent link="link2"/>
    <child link="l24"/>
    <origin rpy="0 0 0" xyz="2.2072826788101088e-09 -0.041188490349378735 0.018056811387234962"/> <!-- Offset by half of link1's height for the margin -->
    <axis xyz="0 0 1"/>
  </joint>
  <joint name="jl25" type="fixed">
    <parent link="link2"/>
    <child link="l25"/>
    <origin rpy="0 0 0" xyz="-0.02912465888190166 -0.029124662783863046 0.018056811387234962"/> <!-- Offset by half of link1's height for the margin -->
    <axis xyz="0 0 1"/>
  </joint>
  <joint name="jl26" type="fixed">
    <parent link="link2"/>
    <child link="l26"/>
    <origin rpy="0 0 0" xyz="-0.041188490349378666 -3.3109239999237972e-09 0.018056811387234962"/> <!-- Offset by half of link1's height for the margin -->
    <axis xyz="0 0 1"/>
  </joint>
  <joint name="jl27" type="fixed">
    <parent link="link2"/>
    <child link="l27"/>
    <origin rpy="0 0 0" xyz="-0.029124663564255245 0.029124658101509333 0.018056811387234962"/> <!-- Offset by half of link1's height for the margin -->
    <axis xyz="0 0 1"/>
  </joint>
  <joint name="jl30" type="fixed">
    <parent link="link2"/>
    <child link="l30"/>
    <origin rpy="0 0 0" xyz="0.0 0.0411884903493788 -0.006018937129078321"/> <!-- Offset by half of link1's height for the margin -->
    <axis xyz="0 0 1"/>
  </joint>
  <joint name="jl31" type="fixed">
    <parent link="link2"/>
    <child link="l31"/>
    <origin rpy="0 0 0" xyz="0.02912466044268628 0.029124661223078552 -0.006018937129078321"/> <!-- Offset by half of link1's height for the margin -->
    <axis xyz="0 0 1"/>
  </joint>
  <joint name="jl32" type="fixed">
    <parent link="link2"/>
    <child link="l32"/>
    <origin rpy="0 0 0" xyz="0.041188490349378784 1.1036413394050548e-09 -0.006018937129078321"/> <!-- Offset by half of link1's height for the margin -->
    <axis xyz="0 0 1"/>
  </joint>
  <joint name="jl33" type="fixed">
    <parent link="link2"/>
    <child link="l33"/>
    <origin rpy="0 0 0" xyz="0.0291246620034708 -0.029124659662293988 -0.006018937129078321"/> <!-- Offset by half of link1's height for the margin -->
    <axis xyz="0 0 1"/>
  </joint>
  <joint name="jl34" type="fixed">
    <parent link="link2"/>
    <child link="l34"/>
    <origin rpy="0 0 0" xyz="2.2072826788101088e-09 -0.041188490349378735 -0.006018937129078321"/> <!-- Offset by half of link1's height for the margin -->
    <axis xyz="0 0 1"/>
  </joint>
  <joint name="jl35" type="fixed">
    <parent link="link2"/>
    <child link="l35"/>
    <origin rpy="0 0 0" xyz="-0.02912465888190166 -0.029124662783863046 -0.006018937129078321"/> <!-- Offset by half of link1's height for the margin -->
    <axis xyz="0 0 1"/>
  </joint>
  <joint name="jl36" type="fixed">
    <parent link="link2"/>
    <child link="l36"/>
    <origin rpy="0 0 0" xyz="-0.041188490349378666 -3.3109239999237972e-09 -0.006018937129078321"/> <!-- Offset by half of link1's height for the margin -->
    <axis xyz="0 0 1"/>
  </joint>
  <joint name="jl37" type="fixed">
    <parent link="link2"/>
    <child link="l37"/>
    <origin rpy="0 0 0" xyz="-0.029124663564255245 0.029124658101509333 -0.006018937129078321"/> <!-- Offset by half of link1's height for the margin -->
    <axis xyz="0 0 1"/>
  </joint>



</robot>
